[project]
	description = A frame layout with rounded corners for Android.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Drew Baylor (nano1631)
[access "refs/for/refs/*"]
	read = group user/Drew Baylor (nano1631)
	push = group user/Drew Baylor (nano1631)
	label-Code-Review = -2..+2 group user/Drew Baylor (nano1631)
	label-Verified = -1..+1 group user/Drew Baylor (nano1631)
	rebase = group user/Drew Baylor (nano1631)
	removeReviewer = group user/Drew Baylor (nano1631)
	submit = group user/Drew Baylor (nano1631)
[access "refs/heads/*"]
	read = group user/Drew Baylor (nano1631)
	create = group user/Drew Baylor (nano1631)
	push = +force group user/Drew Baylor (nano1631)
	pushMerge = group user/Drew Baylor (nano1631)
[access "refs/tags/*"]
	push = group user/Drew Baylor (nano1631)
	push = +force group user/Drew Baylor (nano1631)
